{% extends 'base.html' %}
{% load static%}
{% block title %}Universo{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h3 class="my-3 font-weight-bold text-center text-secondary">Busqueda del Personal</h3>
        <div class="card shadow mb-4 p-3">
            <div class="row px-3">
                <div class="col-12">
                    <label for="">Filtra por</label>
                </div>
            </div>
            <div class="col-sm-6 px-4">
                <form method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="kword" name="kword"
                            placeholder="Nombre o N° Empleado" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="sumbit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for p in personal %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{p.apellido_paterno}} {{p.apellido_materno}}</h5>
                      <h5 class="card-title">{{p.nombre}}</h5>
                        <h4>{{p.num_empleado}} </h4>
                        <h4>{{p.num_plaza}}</h4>
                        <h4>{{p.hospital}}</h4>
                        <a href="#" class="card-link">Entrar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="mx-auto ">
                {% if is_paginated %}
                <ul class="pagination pagination-sm">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Atras</a>
                    </li>
                    {% endif %}
                    {% for pagina in paginator.page_range %}
                    {% ifequal pagina page_obj.number  %}
                    <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                    {% endifequal %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}