{% extends 'base.html' %}
{% load static%}
{% block title %}Busqueda del Personal{% endblock title %}

{% block content %}
<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-3">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <button type="button" class="card-collapse  py-3 d-flex flex-row align-items-center justify-content-center" data-toggle="collapse" data-target="#uni1">Universo</button>
            <!--  <h6 class="m-0 font-weight-bold text-primary">Universo</h6>
            </div> -->
            <!-- Card Body -->
            <div class="card-body collapse" id="uni1" >
                <div class="chart-pie2 pt-2 pb-2">
                    {{universo.nombre}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
