{% extends 'base.html' %}
{% load static%}
{% block title %}Personal{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h3 class="my-3 font-weight-bold text-center text-secondary">Personal</h3>
        <div class="card shadow mb-4 p-3">
            <div class="row px-3">
                <div class="col-12">
                    <label for="">Filtra por</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 px-4">
                    <form method="GET">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="kword" name="kword"
                                placeholder="Nombre o N° Empleado" aria-label="Recipient's username"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="sumbit">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 px-4">
                    <a href="{% url 'personal_app:perso-nuevo' %}" class="btn btn-success float-right mt-1"
                        role="button">
                        <i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="py-2 px-3 mt-3">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>N° Empleado</th>
                                <th>Nombre</th>
                                <th>Ultima Modificación</th>
                                <th>Modificado por</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in personal %}
                            <tr class="text-center">
                                <td>{{p.num_empleado}}</td>
                                <td>{{p.apellido_paterno}} {{p.apellido_materno}} {{p.nombre}}</td>
                                <td>{{p.modified}}</td>
                                <td>{{p.user}}</td>
                                <td>
                                    <a href="{% url 'personal_app:perso-update' p.id %}" class="btn btn-dark btn-sm m-2"
                                        role="button">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto ">
                    {% if is_paginated %}
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.previous_page_number}}">Atras</a>
                        </li>
                        {% endif %}
                        {% for pagina in paginator.page_range %}
                        {% ifequal pagina page_obj.number  %}
                        <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                        {% endifequal %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.next_page_number}}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}