{% extends 'base.html' %}
{% load static%}
{% block title %}Turno{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12">
        <a href="{% url 'admins_app:catalogo' %}" class="btn btn-dark mt-1" role="button">
            <i class="fas fa-chevron-left"></i></a>
        <h3 class="my-3 font-weight-bold text-center text-secondary">Turno</h3>
        <div class="card shadow mb-4 p-3">
            <div class="row px-3">
                <div class="col-12">
                    <label for="">Filtra por</label>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-sm-3">
                    <a href="?order=nombre" class="btn btn-secondary btn-block btn-sm  mt-1" role="button">Nombre</a>
                </div>
                <div class="col-sm-3">
                    <a href="?order=modified" class="btn btn-secondary btn-block btn-sm mt-1" role="button">Fecha de
                        Modificación</a>
                </div>
                <div class="col-sm-3">
                    <a href="?order=user" class="btn btn-secondary btn-block btn-sm mt-1" role="button">Usuario</a>
                </div>
                <div class="col-sm-3">
                    <a href="{% url 'admins_app:turnonuevo' %}" class="btn btn-success float-right mt-1" role="button">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="py-2 px-3 mt-3">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>Nombre</th>
                                <th>Ultima Modificación</th>
                                <th>Modificado por</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in turno %}
                            <tr class="text-center">
                                <td>{{t.nombre}}</td>
                                <td>{{t.modified}}</td>
                                <td>{{t.user}}</td>
                                <td>
                                    <a href="{% url 'admins_app:turno-update' t.id %}" class="btn btn-dark btn-sm m-2"
                                        role="button">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto ">
                    {% if is_paginated %}
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.previous_page_number}}">Atras</a>
                        </li>
                        {% endif %}
                        {% for pagina in paginator.page_range %}
                        {% ifequal pagina page_obj.number  %}
                        <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
                        {% endifequal %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{page_obj.next_page_number}}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}